<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center">
            <h1>Crear Usuarios</h1>
            <p class="text-h3">Ingresar las credenciales del usuario que desea crear</p>
          </div>
        </div>
        <form [formGroup]="regForm" (ngSubmit)="onUserRegistry()">
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email"
                     [(ngModel)]="email" required minlength="8" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">El email es requerido</div>
                <div *ngIf="f.email.errors.email">El email debe ser una dirección válida</div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" name="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password"
                     required minlength="5" maxlength="10" formControlName="password"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                <div *ngIf="f.password.errors.minlength">La contraseña debe tener almenos 6 caracteres</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="onExit()">Crear Usuario</button>
              <p style="color: green">{{successMessage}}</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
