<div class="modal" id="modal-maps">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Seguimiento</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose(cityForm)">&times;</button>
      </div>
      <div class="modal-body">
        <form #cityForm="ngForm">
          <div class="form-group">
            <input type="hidden" id="codeItem" name="codeItem"  [(ngModel)]="this.dataCity.selectedItem.code">
            <input type="hidden" class="form-control" name="date" [(ngModel)]="this.valuedate">
            <input type="hidden" class="form-control" name="lat" [(ngModel)]="this.latitude">
            <input type="hidden" class="form-control" name="lng" [(ngModel)]="this.longitude">
            <label for="location" class="col-form-label">Ubicación Actual</label>
            <select id="ciudad" name="ciudad" class="browser-default custom-select"
            [(ngModel)]="this.dataCity.selectedCiudad.ciudad" (change)="capturar()">
              <option value="{{city.ciudad}}" *ngFor="let city of cities">{{city.ciudad}}</option>
            </select>
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="16">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
            (click)="onClose(cityForm)">Cancelar</button>
            <button type="submit" class="btn btn-primary btn-success" data-dismiss="modal"
            (click)="onSaveLog(cityForm)">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
