<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <img src="assets/images/logo-1.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    e-Route Admin
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/login" (click)="onLogout()" *ngIf="isLogged">Salir</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-home" routerLinkActive="active">
              <i class="fa fa-home" aria-hidden="true"></i>
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/packages" routerLinkActive="active">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              Envíos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-create" routerLinkActive="active">
              <i class="fa fa-address-card" aria-hidden="true"></i>
              Crear Usuarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-office" routerLinkActive="active">
              <i class="fa fa-building" aria-hidden="true"></i>
              Crear Oficinas
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

